h1 {
    background-color: black;
font-size: xx-large;
}
.title {
color: white;
}
.Cloud{
    color:aqua;
}
#project {
    color: white;
    font-size: x-large;
    background-color: plum;
    text-align: center;

}
#link {
    color:blueviolet;
    background-color: cornflowerblue;
    text-align: right;
    font-size: large;
    text-decoration: underline;
}
